#
# Rules for Makefiles
#

include $(top_srcdir)/CONFIGVARS
include $(top_srcdir)/PHONY

include $(srcdir)/BINFILES
include $(srcdir)/SRCFILES
include $(srcdir)/EXTRAFILES
include $(srcdir)/MISCFILES

all:	all-recursive all-here

clean:	clean-recursive clean-here

clean-here:
	$(RM) *.o lib*.a *.tmp
	$(RM) core report errlog
	$(RM) foobar foo bar baz junk schrott muell 
	$(RM) test.c test.o test.s test

distclean: distclean-recursive clean-here distclean-here

distclean-here:
	$(RM) *~ #*
	$(RMDIR) .deps $(GENFILES)

install: all-here install-recursive

uninstall: uninstall-recursive

DISTFILES = $(MISCFILES) $(SRCFILES)

distdir = $(tmp_dir)/STonX-$(VERSION)/$(subdir)

distdir: $(DISTFILES) distdir-local
	@for file in $(DISTFILES); do \
	  $(INSTALL) $(srcdir)/$$file $(distdir)/$$file \
	  || exit 1; \
	done
	list='$(SUBDIRS)'; \
	for subdir in $$list; do \
	  $(INSTALL) -m 777 -d $(distdir)/$$subdir \
	  || exit; \
	done

distdir-local:

all-recursive \
clean-recursive distclean-recursive \
install-recursive uninstall-recursive dist-recursive:
	@set fnord $(MAKEFLAGS); amf=$$2; \
	list='$(SUBDIRS)'; \
        for subdir in $$list; do \
	    target=`echo $@ | $(SED) s/-recursive//`; \
	    echo "Makeing $$target in $$subdir"; \
	    (cd $$subdir && $(MAKE) -r $$target) \
	    || case "$$amf" in\
                 *=*) exit 1;; \
	         *k*) fail=yes;; \
                 *) exit 1;; \
               esac; \
	done && test -z "$$fail"
